<h1>TO DOs</h1>

<ul>
    <% @tasks.each do |task| %>
    <li>
        <%= task.title %> - <%= task.description%> 
        <%= link_to "Destroy", task, method: "delete", data: {confirm: "Are you sure?"} %>
    </li>
    <% end %>
</ul>

<%= link_to "New Task", new_task_path%>